:root{
    --main-font: 'Sawarabi Mincho', serif;
    font-family: var(--main-font);
    --mainbackgroundcolor: rgb(205, 249, 255);
}

.main-page{
    height: 100vh;
    width: auto;
    background-color: var(--mainbackgroundcolor);
    display: grid;
    grid-template-rows: 150px 1fr;
    align-items: start;
    justify-items: center;
}

.gameboard{
    margin-top: 30px;
    align-self:auto;
    height: 600px;
    width: 600px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
    user-select: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.board-cell{
    background-color: rgb(250, 253, 255);
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-cell:hover{
    -webkit-box-shadow: inset 0px 0px 0px 15px rgba(202, 202, 202, 0.75);
    -moz-box-shadow: inset 0px 0px 0px 15px rgba(202, 202, 202, 0.75);
    box-shadow: inset 0px 0px 0px 15px rgba(202, 202, 202, 0.75);
}


.board-cell:active{
    -webkit-box-shadow: inset 0px 0px 0px 15px rgba(33, 44, 146, 0.3);
    -moz-box-shadow: inset 0px 0px 0px 15px rgba(33, 45, 146, 0.3);
    box-shadow: inset 0px 0px 0px 15px rgba(33, 45, 146, 0.3);
}

.scoreboard{
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.footer{
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;

}

.wrong-click{
    color: rgb(168, 57, 57);
}

form{

    position: absolute;
    padding: 40px;
    background-color: cornflowerblue;
    border: 6px white solid;
    border-radius: 15px;
    top: 300px;
    height: 300px;
}

.popUpStart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.startGameButton{
    width: 6em;
    height: 2em;
    background-color: var(--mainbackgroundcolor);
    font-family: var(--main-font);
    font-size: 3em;
    border: 5px white solid;
    border-radius: 4px;

}

label{
    font-size: 1.5em;
    color: aliceblue;
}

.player input[type=text]{
    height: 2em;
    background-color: var(--mainbackgroundcolor);
    border: 2px white solid;
    border-radius: 6px;
    padding-left: 1em;
    font-size: 1.2em;
    font-family: var(--main-font);
}

.player{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    gap: .5em;
}

.playerNames{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    align-items: center;
}

.title{
    position:absolute;
    bottom: 40px;
    font-size: 3em;
}

.popUpWin{
    position: absolute;
    bottom: 50px;
    background-color: blue;
    color: aliceblue;
    width: 500px;
    height: 200px;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;

}

.popUpWin button{
    /* width: 4em;
    height: 2em; */
    background-color: var(--mainbackgroundcolor);
    font-family: var(--main-font);
    font-size: 20px;
    border: 5px white solid;
    border-radius: 4px;

}